<!DOCTYPE html>
<html lang="SV">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <title>Barnens bibliotek</title>

    <link href="/Portals/_default/Skins/bb_DANTOOINE_boktips/skin.css" rel="stylesheet">
    
</head>
<body>

       
<div class="container batuu-container">


    <!-- content -->
    
    <div class="p-2 my-4 d-flex justify-content-center">
        <img class="img-print" src="/Portals/_default/Skins/bb_DANTOOINE_boktips/images/Robot_boktips_BarnensBibliotek_470w_1.png">
    </div>

        <div class="row justify-content-md-center ">
           
            <div class="p-2 bd-highlight">
                <div class="batuu-book-img">
                   <img src="{{ImgSrc}}" alt="{{Title}}" class="img-thumbnail">
                </div>
            </div>
            <div class="p-2 bd-highlight">
                    <h5>Harry Potter och Halvblodsprinsen</h5>
                    <table class="dantooine-table-book-tips">
                        <tr>
                            <td><strong>F&ouml;rfattare:</strong></td>
                            <td><a class="batuu-link" href="#">{{Author}} </a></td>
                        </tr>
                        <tr>
                            <td><strong>&Aring;lder:</strong></td>
                            <td><a class="batuu-link" href="#">{{LowAge}} - {{HighAge}}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Boktipsare:</strong></td>
                            <td><a class="batuu-link" href="#">{{UserName}}</a></td>
                        </tr>
                    </table>
            </div>
        </div>  
        <div class="row justify-content-md-center" >
            <div class="col-md-8 col-sm-12">
                <p>
                     {{{Review}}}
                </p>
            </div>
        </div>  



    <div class="row" style="margin-top: 6rem;">
        <div class="col d-flex justify-content-center">
            <img class="img-print-logo" src="/Portals/_default/Skins/bb_DANTOOINE_boktips/images/footerlogo.png" runat="server" />
        </div>
        <div class="w-100"></div>
        <div class="col p-4 d-flex justify-content-center">
            <p>www.barnensbibliotek.se</p>
        </div>
    </div>





</div>  <!-- MAIN CONTAINER END -->


    </body>
</html>