<!-- Loop start -->
{{#each Bookitems}}
<div id="currentBookid" class="row mb-5" data-bookid="{{Bookid}}">
    <div class="col-sm-12 col-md-3">
        <div class="d-flex align-items-center batuu-background-row-item">
            <a href="#"></a>
                <div class="text-center">
                    <img src="{{BokomslagURL}}" alt="{{title}}" class="img-thumbnail">
                </div>
            </a>
            {{#booklistdpr @root.Userbooklist Bookid}} {{/booklistdpr}}
        </div>
        
    </div>
    <div class="col-sm-12 col-md-9">
        <h3 class="mb-0">{{title}}</h3>
        <p class="my-0">av: {{#hb_bookforfattare Forfattare}}{{/hb_bookforfattare}}            
        
        <div class="mt-0 d-flex justify-content-start">            
            <div class="mr-2">
                <div class="aj_bb_fjarilsrating"></div>
            </div>
            <div class="">
                <p> <span id="ratingTotal"></span> R&ouml;ster </p>
            </div>
        </div>


        <p>{{{BookReview}}}</p>

    </div>
</div>
<div class="row pr-2 ">
    <div class="col-sm-6">
        <div class="mx-0">
            <p class="my-0 bb_aj_creator"><strong>F&ouml;rfattare:</strong>{{#each Forfattare}} <span data-creatorid="{{creatorid}}" class="aj_bb_creatorid "> {{namn}} </span>{{/each}}</p>
        </div>
        {{#hb_bookSerie Serie Serienr }}{{/hb_bookSerie}}
        
        <div class="mx-0">
            <p class="my-0"><strong>Utgivnings&aring;r: </strong>{{Published}}</p>
        </div>
        <div class="mx-0">
            <p class="my-0"><strong>F&ouml;rlag:</strong> {{forlag}}</p>
        </div>
        <div class="mx-0">
            <p class="my-0" id="aj_kk_isbn" data-isbn="{{isbn}}"><strong>ISBN:</strong> {{isbn}}</p>
        </div>
        <div class="mx-0">
            <p class="my-0"><strong>Kategori:</strong> {{#each Categories}} {{catnamn}} {{/each}}</p>
        </div>        
        {{#hb_mediatypcat MediatypCategories}}{{/hb_mediatypcat}}
    </div>
    <div class="col-sm-6 pb-3">
        <div class="mx-0">
            <p class="my-0"><a href="http://www.legimus.se/search?query={{title}}&sort=Relevance&snabbsokknapp=S%C3%B6k&searchtype=Biblioteket&fLibId=00000000-0000-0000-0000-000000000000" class="batuu-link"><i class="fas fa-link"></i> Finns boken som talbok?</a></p>
        </div>
        <div class="mx-0">
            <p class="my-0"><a href="http://www.smakprov.se/smakprov.php?isbn={{isbn}}&amp;l=Barnensbibliotek" class="batuu-link"><i class="fas fa-link"></i> L&auml;s ett smakprov</a></p>
        </div>
        <div class="mx-0">
            {{>tpl_usertoOpac}}
        </div>

    </div>
</div>
{{/each}}